/CAP-Project/Library/*
/CAP-Project/Logs/*
/CAP-Project/Packages/*
/CAP-Project/ProjectSettings/*
/CAP-Project/UserSettings/*
/CAP-Project/Assets/TextMesh Pro/*
/CAP-Project/obj/Debug/*
/CAP-Project/Assets/**/*.meta
/CAP-Project/Temp/**